@for $o from 0 through 100 {
  .pl-#{$o} {
    padding-left: #{$o}rem !important;
  }
  .pr-#{$o} {
    padding-right: #{$o}rem !important;
  }
  .pt-#{$o} {
    padding-top: #{$o}rem !important;
  }
  .pb-#{$o} {
    padding-bottom: #{$o}rem !important;
  }
}
