<!-- documentation.component.html -->

<div class="container">
    <div class="header">
        <h1>Welcome to My UI Library Documentation</h1>
    </div>

    <div class="section">
        <h2>Primary</h2>
        <p class="bg-primary">This is the Primary color.</p>
    </div>

    <div class="section">
        <h2>Danger</h2>
        <p class="bg-danger">This is the Danger color.</p>
    </div>

    <div class="section">
        <h2>Info</h2>
        <p class="bg-info">This is the Info color.</p>
    </div>

    <div class="section">
        <h2>Width 100px Height h-34</h2>
        <div class="w-100px h-34 ml-5 pl-5 bg-dark">Width 100px Height h-34</div>
    </div>

    <div class="section">
        <h2>CXXXF</h2>
        <span class="ml-50 w-50em">CXXXF</span>
    </div>

    <div class="section">
        <h2>Custom Sizes</h2>
        <div class="w-10rem bg-danger-100">y</div>
        <div class="w-10px bg-danger-200">z</div>
        <div class="w-10% bg-danger-300">c</div>
    </div>
</div>


<div class="text-align-left">Sol Hizalı</div>
<div class="text-align-center">Ortalanmış</div>
<div class="text-align-right">Sağ Hizalı</div>

<div class="vertical-align-baseline">Baseline Hizalı</div>
<div class="vertical-align-top">Üst Hizalı</div>
<div class="vertical-align-middle">Orta Hizalı</div>
<div class="vertical-align-bottom">Alt Hizalı</div>

<div class="justify-content-flex-start">Flex Başlangıç</div>
<div class="justify-content-flex-end">Flex Son</div>
<div class="justify-content-center">Merkez</div>
<div class="justify-content-space-between">Arada Boşluk</div>
<div class="justify-content-space-around">Etrafında Boşluk</div>
<div class="justify-content-space-evenly">Eşit Boşluk</div>
