
body {
  background-color: #181818;
  color: #f0f0f0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: #242424;
}

.section {
  padding: 10px;
  background-color: #303030;
  margin-bottom: 20px;
}

h1, h2 {
  color: #fff;
}
