$colors: (
        text-primary: #0940f6,
        text-danger: #b90505,
        text-info: #7ebcd3,
        text-secondary: #6c757d,
        text-light: #f8f9fa,
        text-dark: #343a40,
        text-white: #ffffff,
        text-warning: #ffc107,
        text-success: #28a745
);

$tones: (
        100, 200, 300, 400, 500, 600, 700, 800, 900
);

@function get-tone($color, $tone) {
  $base-color: map-get($colors, $color);

  @if ($tone == 0) {
    @return $base-color;
  } @else {
    $new-tone: if($tone > 500, darken($base-color, (1000 - $tone) * 0.1), lighten($base-color, $tone * 0.1));
    @return $new-tone;
  }
}

@each $color, $value in $colors {
  .#{$color} {
    color: $value;
  }

  @each $tone in $tones {
    .#{$color}-#{$tone} {
      color: get-tone($color, $tone);
    }
  }
}



