/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #0940f6;
  --danger-color: #b90505;
  --info-color: #7ebcd3;
  --secondary-color: #6c757d;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --white-color: #ffffff;
  --warning-color: #ffc107;
  --success-color: #28a745;
}

.primary {
  color: var(--primary-color);
}

.danger {
  color: var(--danger-color);
}

.info {
  color: var(--info-color);
}

.secondary {
  color: var(--secondary-color);
}

.light {
  color: var(--light-color);
}

.dark {
  color: var(--dark-color);
}

.white {
  color: var(--white-color);
}

.warning {
  color: var(--warning-color);
}

.success {
  color: var(--success-color);
}

.w-0 {
  width: 0 "%" !important;
}

.h-0 {
  height: 0vh !important;
}

.w-1 {
  width: 1 "%" !important;
}

.h-1 {
  height: 1vh !important;
}

.w-2 {
  width: 2 "%" !important;
}

.h-2 {
  height: 2vh !important;
}

.w-3 {
  width: 3 "%" !important;
}

.h-3 {
  height: 3vh !important;
}

.w-4 {
  width: 4 "%" !important;
}

.h-4 {
  height: 4vh !important;
}

.w-5 {
  width: 5 "%" !important;
}

.h-5 {
  height: 5vh !important;
}

.w-6 {
  width: 6 "%" !important;
}

.h-6 {
  height: 6vh !important;
}

.w-7 {
  width: 7 "%" !important;
}

.h-7 {
  height: 7vh !important;
}

.w-8 {
  width: 8 "%" !important;
}

.h-8 {
  height: 8vh !important;
}

.w-9 {
  width: 9 "%" !important;
}

.h-9 {
  height: 9vh !important;
}

.w-10 {
  width: 10 "%" !important;
}

.h-10 {
  height: 10vh !important;
}

.w-11 {
  width: 11 "%" !important;
}

.h-11 {
  height: 11vh !important;
}

.w-12 {
  width: 12 "%" !important;
}

.h-12 {
  height: 12vh !important;
}

.w-13 {
  width: 13 "%" !important;
}

.h-13 {
  height: 13vh !important;
}

.w-14 {
  width: 14 "%" !important;
}

.h-14 {
  height: 14vh !important;
}

.w-15 {
  width: 15 "%" !important;
}

.h-15 {
  height: 15vh !important;
}

.w-16 {
  width: 16 "%" !important;
}

.h-16 {
  height: 16vh !important;
}

.w-17 {
  width: 17 "%" !important;
}

.h-17 {
  height: 17vh !important;
}

.w-18 {
  width: 18 "%" !important;
}

.h-18 {
  height: 18vh !important;
}

.w-19 {
  width: 19 "%" !important;
}

.h-19 {
  height: 19vh !important;
}

.w-20 {
  width: 20 "%" !important;
}

.h-20 {
  height: 20vh !important;
}

.w-21 {
  width: 21 "%" !important;
}

.h-21 {
  height: 21vh !important;
}

.w-22 {
  width: 22 "%" !important;
}

.h-22 {
  height: 22vh !important;
}

.w-23 {
  width: 23 "%" !important;
}

.h-23 {
  height: 23vh !important;
}

.w-24 {
  width: 24 "%" !important;
}

.h-24 {
  height: 24vh !important;
}

.w-25 {
  width: 25 "%" !important;
}

.h-25 {
  height: 25vh !important;
}

.w-26 {
  width: 26 "%" !important;
}

.h-26 {
  height: 26vh !important;
}

.w-27 {
  width: 27 "%" !important;
}

.h-27 {
  height: 27vh !important;
}

.w-28 {
  width: 28 "%" !important;
}

.h-28 {
  height: 28vh !important;
}

.w-29 {
  width: 29 "%" !important;
}

.h-29 {
  height: 29vh !important;
}

.w-30 {
  width: 30 "%" !important;
}

.h-30 {
  height: 30vh !important;
}

.w-31 {
  width: 31 "%" !important;
}

.h-31 {
  height: 31vh !important;
}

.w-32 {
  width: 32 "%" !important;
}

.h-32 {
  height: 32vh !important;
}

.w-33 {
  width: 33 "%" !important;
}

.h-33 {
  height: 33vh !important;
}

.w-34 {
  width: 34 "%" !important;
}

.h-34 {
  height: 34vh !important;
}

.w-35 {
  width: 35 "%" !important;
}

.h-35 {
  height: 35vh !important;
}

.w-36 {
  width: 36 "%" !important;
}

.h-36 {
  height: 36vh !important;
}

.w-37 {
  width: 37 "%" !important;
}

.h-37 {
  height: 37vh !important;
}

.w-38 {
  width: 38 "%" !important;
}

.h-38 {
  height: 38vh !important;
}

.w-39 {
  width: 39 "%" !important;
}

.h-39 {
  height: 39vh !important;
}

.w-40 {
  width: 40 "%" !important;
}

.h-40 {
  height: 40vh !important;
}

.w-41 {
  width: 41 "%" !important;
}

.h-41 {
  height: 41vh !important;
}

.w-42 {
  width: 42 "%" !important;
}

.h-42 {
  height: 42vh !important;
}

.w-43 {
  width: 43 "%" !important;
}

.h-43 {
  height: 43vh !important;
}

.w-44 {
  width: 44 "%" !important;
}

.h-44 {
  height: 44vh !important;
}

.w-45 {
  width: 45 "%" !important;
}

.h-45 {
  height: 45vh !important;
}

.w-46 {
  width: 46 "%" !important;
}

.h-46 {
  height: 46vh !important;
}

.w-47 {
  width: 47 "%" !important;
}

.h-47 {
  height: 47vh !important;
}

.w-48 {
  width: 48 "%" !important;
}

.h-48 {
  height: 48vh !important;
}

.w-49 {
  width: 49 "%" !important;
}

.h-49 {
  height: 49vh !important;
}

.w-50 {
  width: 50 "%" !important;
}

.h-50 {
  height: 50vh !important;
}

.w-51 {
  width: 51 "%" !important;
}

.h-51 {
  height: 51vh !important;
}

.w-52 {
  width: 52 "%" !important;
}

.h-52 {
  height: 52vh !important;
}

.w-53 {
  width: 53 "%" !important;
}

.h-53 {
  height: 53vh !important;
}

.w-54 {
  width: 54 "%" !important;
}

.h-54 {
  height: 54vh !important;
}

.w-55 {
  width: 55 "%" !important;
}

.h-55 {
  height: 55vh !important;
}

.w-56 {
  width: 56 "%" !important;
}

.h-56 {
  height: 56vh !important;
}

.w-57 {
  width: 57 "%" !important;
}

.h-57 {
  height: 57vh !important;
}

.w-58 {
  width: 58 "%" !important;
}

.h-58 {
  height: 58vh !important;
}

.w-59 {
  width: 59 "%" !important;
}

.h-59 {
  height: 59vh !important;
}

.w-60 {
  width: 60 "%" !important;
}

.h-60 {
  height: 60vh !important;
}

.w-61 {
  width: 61 "%" !important;
}

.h-61 {
  height: 61vh !important;
}

.w-62 {
  width: 62 "%" !important;
}

.h-62 {
  height: 62vh !important;
}

.w-63 {
  width: 63 "%" !important;
}

.h-63 {
  height: 63vh !important;
}

.w-64 {
  width: 64 "%" !important;
}

.h-64 {
  height: 64vh !important;
}

.w-65 {
  width: 65 "%" !important;
}

.h-65 {
  height: 65vh !important;
}

.w-66 {
  width: 66 "%" !important;
}

.h-66 {
  height: 66vh !important;
}

.w-67 {
  width: 67 "%" !important;
}

.h-67 {
  height: 67vh !important;
}

.w-68 {
  width: 68 "%" !important;
}

.h-68 {
  height: 68vh !important;
}

.w-69 {
  width: 69 "%" !important;
}

.h-69 {
  height: 69vh !important;
}

.w-70 {
  width: 70 "%" !important;
}

.h-70 {
  height: 70vh !important;
}

.w-71 {
  width: 71 "%" !important;
}

.h-71 {
  height: 71vh !important;
}

.w-72 {
  width: 72 "%" !important;
}

.h-72 {
  height: 72vh !important;
}

.w-73 {
  width: 73 "%" !important;
}

.h-73 {
  height: 73vh !important;
}

.w-74 {
  width: 74 "%" !important;
}

.h-74 {
  height: 74vh !important;
}

.w-75 {
  width: 75 "%" !important;
}

.h-75 {
  height: 75vh !important;
}

.w-76 {
  width: 76 "%" !important;
}

.h-76 {
  height: 76vh !important;
}

.w-77 {
  width: 77 "%" !important;
}

.h-77 {
  height: 77vh !important;
}

.w-78 {
  width: 78 "%" !important;
}

.h-78 {
  height: 78vh !important;
}

.w-79 {
  width: 79 "%" !important;
}

.h-79 {
  height: 79vh !important;
}

.w-80 {
  width: 80 "%" !important;
}

.h-80 {
  height: 80vh !important;
}

.w-81 {
  width: 81 "%" !important;
}

.h-81 {
  height: 81vh !important;
}

.w-82 {
  width: 82 "%" !important;
}

.h-82 {
  height: 82vh !important;
}

.w-83 {
  width: 83 "%" !important;
}

.h-83 {
  height: 83vh !important;
}

.w-84 {
  width: 84 "%" !important;
}

.h-84 {
  height: 84vh !important;
}

.w-85 {
  width: 85 "%" !important;
}

.h-85 {
  height: 85vh !important;
}

.w-86 {
  width: 86 "%" !important;
}

.h-86 {
  height: 86vh !important;
}

.w-87 {
  width: 87 "%" !important;
}

.h-87 {
  height: 87vh !important;
}

.w-88 {
  width: 88 "%" !important;
}

.h-88 {
  height: 88vh !important;
}

.w-89 {
  width: 89 "%" !important;
}

.h-89 {
  height: 89vh !important;
}

.w-90 {
  width: 90 "%" !important;
}

.h-90 {
  height: 90vh !important;
}

.w-91 {
  width: 91 "%" !important;
}

.h-91 {
  height: 91vh !important;
}

.w-92 {
  width: 92 "%" !important;
}

.h-92 {
  height: 92vh !important;
}

.w-93 {
  width: 93 "%" !important;
}

.h-93 {
  height: 93vh !important;
}

.w-94 {
  width: 94 "%" !important;
}

.h-94 {
  height: 94vh !important;
}

.w-95 {
  width: 95 "%" !important;
}

.h-95 {
  height: 95vh !important;
}

.w-96 {
  width: 96 "%" !important;
}

.h-96 {
  height: 96vh !important;
}

.w-97 {
  width: 97 "%" !important;
}

.h-97 {
  height: 97vh !important;
}

.w-98 {
  width: 98 "%" !important;
}

.h-98 {
  height: 98vh !important;
}

.w-99 {
  width: 99 "%" !important;
}

.h-99 {
  height: 99vh !important;
}

.w-100 {
  width: 100 "%" !important;
}

.h-100 {
  height: 100vh !important;
}

.ml-0 {
  margin-left: 0rem !important;
}

.mr-0 {
  margin-right: 0rem !important;
}

.mt-0 {
  margin-top: 0rem !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.pl-0 {
  padding-left: 0rem !important;
}

.pr-0 {
  padding-right: 0rem !important;
}

.pt-0 {
  padding-top: 0rem !important;
}

.pb-0 {
  padding-bottom: 0rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.pl-3 {
  padding-left: 3rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.ml-4 {
  margin-left: 4rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.pl-4 {
  padding-left: 4rem !important;
}

.pr-4 {
  padding-right: 4rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.ml-5 {
  margin-left: 5rem !important;
}

.mr-5 {
  margin-right: 5rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.pl-5 {
  padding-left: 5rem !important;
}

.pr-5 {
  padding-right: 5rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.ml-6 {
  margin-left: 6rem !important;
}

.mr-6 {
  margin-right: 6rem !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.pl-6 {
  padding-left: 6rem !important;
}

.pr-6 {
  padding-right: 6rem !important;
}

.pt-6 {
  padding-top: 6rem !important;
}

.pb-6 {
  padding-bottom: 6rem !important;
}

.ml-7 {
  margin-left: 7rem !important;
}

.mr-7 {
  margin-right: 7rem !important;
}

.mt-7 {
  margin-top: 7rem !important;
}

.mb-7 {
  margin-bottom: 7rem !important;
}

.pl-7 {
  padding-left: 7rem !important;
}

.pr-7 {
  padding-right: 7rem !important;
}

.pt-7 {
  padding-top: 7rem !important;
}

.pb-7 {
  padding-bottom: 7rem !important;
}

.ml-8 {
  margin-left: 8rem !important;
}

.mr-8 {
  margin-right: 8rem !important;
}

.mt-8 {
  margin-top: 8rem !important;
}

.mb-8 {
  margin-bottom: 8rem !important;
}

.pl-8 {
  padding-left: 8rem !important;
}

.pr-8 {
  padding-right: 8rem !important;
}

.pt-8 {
  padding-top: 8rem !important;
}

.pb-8 {
  padding-bottom: 8rem !important;
}

.ml-9 {
  margin-left: 9rem !important;
}

.mr-9 {
  margin-right: 9rem !important;
}

.mt-9 {
  margin-top: 9rem !important;
}

.mb-9 {
  margin-bottom: 9rem !important;
}

.pl-9 {
  padding-left: 9rem !important;
}

.pr-9 {
  padding-right: 9rem !important;
}

.pt-9 {
  padding-top: 9rem !important;
}

.pb-9 {
  padding-bottom: 9rem !important;
}

.ml-10 {
  margin-left: 10rem !important;
}

.mr-10 {
  margin-right: 10rem !important;
}

.mt-10 {
  margin-top: 10rem !important;
}

.mb-10 {
  margin-bottom: 10rem !important;
}

.pl-10 {
  padding-left: 10rem !important;
}

.pr-10 {
  padding-right: 10rem !important;
}

.pt-10 {
  padding-top: 10rem !important;
}

.pb-10 {
  padding-bottom: 10rem !important;
}

.ml-11 {
  margin-left: 11rem !important;
}

.mr-11 {
  margin-right: 11rem !important;
}

.mt-11 {
  margin-top: 11rem !important;
}

.mb-11 {
  margin-bottom: 11rem !important;
}

.pl-11 {
  padding-left: 11rem !important;
}

.pr-11 {
  padding-right: 11rem !important;
}

.pt-11 {
  padding-top: 11rem !important;
}

.pb-11 {
  padding-bottom: 11rem !important;
}

.ml-12 {
  margin-left: 12rem !important;
}

.mr-12 {
  margin-right: 12rem !important;
}

.mt-12 {
  margin-top: 12rem !important;
}

.mb-12 {
  margin-bottom: 12rem !important;
}

.pl-12 {
  padding-left: 12rem !important;
}

.pr-12 {
  padding-right: 12rem !important;
}

.pt-12 {
  padding-top: 12rem !important;
}

.pb-12 {
  padding-bottom: 12rem !important;
}

.ml-13 {
  margin-left: 13rem !important;
}

.mr-13 {
  margin-right: 13rem !important;
}

.mt-13 {
  margin-top: 13rem !important;
}

.mb-13 {
  margin-bottom: 13rem !important;
}

.pl-13 {
  padding-left: 13rem !important;
}

.pr-13 {
  padding-right: 13rem !important;
}

.pt-13 {
  padding-top: 13rem !important;
}

.pb-13 {
  padding-bottom: 13rem !important;
}

.ml-14 {
  margin-left: 14rem !important;
}

.mr-14 {
  margin-right: 14rem !important;
}

.mt-14 {
  margin-top: 14rem !important;
}

.mb-14 {
  margin-bottom: 14rem !important;
}

.pl-14 {
  padding-left: 14rem !important;
}

.pr-14 {
  padding-right: 14rem !important;
}

.pt-14 {
  padding-top: 14rem !important;
}

.pb-14 {
  padding-bottom: 14rem !important;
}

.ml-15 {
  margin-left: 15rem !important;
}

.mr-15 {
  margin-right: 15rem !important;
}

.mt-15 {
  margin-top: 15rem !important;
}

.mb-15 {
  margin-bottom: 15rem !important;
}

.pl-15 {
  padding-left: 15rem !important;
}

.pr-15 {
  padding-right: 15rem !important;
}

.pt-15 {
  padding-top: 15rem !important;
}

.pb-15 {
  padding-bottom: 15rem !important;
}

.ml-16 {
  margin-left: 16rem !important;
}

.mr-16 {
  margin-right: 16rem !important;
}

.mt-16 {
  margin-top: 16rem !important;
}

.mb-16 {
  margin-bottom: 16rem !important;
}

.pl-16 {
  padding-left: 16rem !important;
}

.pr-16 {
  padding-right: 16rem !important;
}

.pt-16 {
  padding-top: 16rem !important;
}

.pb-16 {
  padding-bottom: 16rem !important;
}

.ml-17 {
  margin-left: 17rem !important;
}

.mr-17 {
  margin-right: 17rem !important;
}

.mt-17 {
  margin-top: 17rem !important;
}

.mb-17 {
  margin-bottom: 17rem !important;
}

.pl-17 {
  padding-left: 17rem !important;
}

.pr-17 {
  padding-right: 17rem !important;
}

.pt-17 {
  padding-top: 17rem !important;
}

.pb-17 {
  padding-bottom: 17rem !important;
}

.ml-18 {
  margin-left: 18rem !important;
}

.mr-18 {
  margin-right: 18rem !important;
}

.mt-18 {
  margin-top: 18rem !important;
}

.mb-18 {
  margin-bottom: 18rem !important;
}

.pl-18 {
  padding-left: 18rem !important;
}

.pr-18 {
  padding-right: 18rem !important;
}

.pt-18 {
  padding-top: 18rem !important;
}

.pb-18 {
  padding-bottom: 18rem !important;
}

.ml-19 {
  margin-left: 19rem !important;
}

.mr-19 {
  margin-right: 19rem !important;
}

.mt-19 {
  margin-top: 19rem !important;
}

.mb-19 {
  margin-bottom: 19rem !important;
}

.pl-19 {
  padding-left: 19rem !important;
}

.pr-19 {
  padding-right: 19rem !important;
}

.pt-19 {
  padding-top: 19rem !important;
}

.pb-19 {
  padding-bottom: 19rem !important;
}

.ml-20 {
  margin-left: 20rem !important;
}

.mr-20 {
  margin-right: 20rem !important;
}

.mt-20 {
  margin-top: 20rem !important;
}

.mb-20 {
  margin-bottom: 20rem !important;
}

.pl-20 {
  padding-left: 20rem !important;
}

.pr-20 {
  padding-right: 20rem !important;
}

.pt-20 {
  padding-top: 20rem !important;
}

.pb-20 {
  padding-bottom: 20rem !important;
}

.ml-21 {
  margin-left: 21rem !important;
}

.mr-21 {
  margin-right: 21rem !important;
}

.mt-21 {
  margin-top: 21rem !important;
}

.mb-21 {
  margin-bottom: 21rem !important;
}

.pl-21 {
  padding-left: 21rem !important;
}

.pr-21 {
  padding-right: 21rem !important;
}

.pt-21 {
  padding-top: 21rem !important;
}

.pb-21 {
  padding-bottom: 21rem !important;
}

.ml-22 {
  margin-left: 22rem !important;
}

.mr-22 {
  margin-right: 22rem !important;
}

.mt-22 {
  margin-top: 22rem !important;
}

.mb-22 {
  margin-bottom: 22rem !important;
}

.pl-22 {
  padding-left: 22rem !important;
}

.pr-22 {
  padding-right: 22rem !important;
}

.pt-22 {
  padding-top: 22rem !important;
}

.pb-22 {
  padding-bottom: 22rem !important;
}

.ml-23 {
  margin-left: 23rem !important;
}

.mr-23 {
  margin-right: 23rem !important;
}

.mt-23 {
  margin-top: 23rem !important;
}

.mb-23 {
  margin-bottom: 23rem !important;
}

.pl-23 {
  padding-left: 23rem !important;
}

.pr-23 {
  padding-right: 23rem !important;
}

.pt-23 {
  padding-top: 23rem !important;
}

.pb-23 {
  padding-bottom: 23rem !important;
}

.ml-24 {
  margin-left: 24rem !important;
}

.mr-24 {
  margin-right: 24rem !important;
}

.mt-24 {
  margin-top: 24rem !important;
}

.mb-24 {
  margin-bottom: 24rem !important;
}

.pl-24 {
  padding-left: 24rem !important;
}

.pr-24 {
  padding-right: 24rem !important;
}

.pt-24 {
  padding-top: 24rem !important;
}

.pb-24 {
  padding-bottom: 24rem !important;
}

.ml-25 {
  margin-left: 25rem !important;
}

.mr-25 {
  margin-right: 25rem !important;
}

.mt-25 {
  margin-top: 25rem !important;
}

.mb-25 {
  margin-bottom: 25rem !important;
}

.pl-25 {
  padding-left: 25rem !important;
}

.pr-25 {
  padding-right: 25rem !important;
}

.pt-25 {
  padding-top: 25rem !important;
}

.pb-25 {
  padding-bottom: 25rem !important;
}

.ml-26 {
  margin-left: 26rem !important;
}

.mr-26 {
  margin-right: 26rem !important;
}

.mt-26 {
  margin-top: 26rem !important;
}

.mb-26 {
  margin-bottom: 26rem !important;
}

.pl-26 {
  padding-left: 26rem !important;
}

.pr-26 {
  padding-right: 26rem !important;
}

.pt-26 {
  padding-top: 26rem !important;
}

.pb-26 {
  padding-bottom: 26rem !important;
}

.ml-27 {
  margin-left: 27rem !important;
}

.mr-27 {
  margin-right: 27rem !important;
}

.mt-27 {
  margin-top: 27rem !important;
}

.mb-27 {
  margin-bottom: 27rem !important;
}

.pl-27 {
  padding-left: 27rem !important;
}

.pr-27 {
  padding-right: 27rem !important;
}

.pt-27 {
  padding-top: 27rem !important;
}

.pb-27 {
  padding-bottom: 27rem !important;
}

.ml-28 {
  margin-left: 28rem !important;
}

.mr-28 {
  margin-right: 28rem !important;
}

.mt-28 {
  margin-top: 28rem !important;
}

.mb-28 {
  margin-bottom: 28rem !important;
}

.pl-28 {
  padding-left: 28rem !important;
}

.pr-28 {
  padding-right: 28rem !important;
}

.pt-28 {
  padding-top: 28rem !important;
}

.pb-28 {
  padding-bottom: 28rem !important;
}

.ml-29 {
  margin-left: 29rem !important;
}

.mr-29 {
  margin-right: 29rem !important;
}

.mt-29 {
  margin-top: 29rem !important;
}

.mb-29 {
  margin-bottom: 29rem !important;
}

.pl-29 {
  padding-left: 29rem !important;
}

.pr-29 {
  padding-right: 29rem !important;
}

.pt-29 {
  padding-top: 29rem !important;
}

.pb-29 {
  padding-bottom: 29rem !important;
}

.ml-30 {
  margin-left: 30rem !important;
}

.mr-30 {
  margin-right: 30rem !important;
}

.mt-30 {
  margin-top: 30rem !important;
}

.mb-30 {
  margin-bottom: 30rem !important;
}

.pl-30 {
  padding-left: 30rem !important;
}

.pr-30 {
  padding-right: 30rem !important;
}

.pt-30 {
  padding-top: 30rem !important;
}

.pb-30 {
  padding-bottom: 30rem !important;
}

.ml-31 {
  margin-left: 31rem !important;
}

.mr-31 {
  margin-right: 31rem !important;
}

.mt-31 {
  margin-top: 31rem !important;
}

.mb-31 {
  margin-bottom: 31rem !important;
}

.pl-31 {
  padding-left: 31rem !important;
}

.pr-31 {
  padding-right: 31rem !important;
}

.pt-31 {
  padding-top: 31rem !important;
}

.pb-31 {
  padding-bottom: 31rem !important;
}

.ml-32 {
  margin-left: 32rem !important;
}

.mr-32 {
  margin-right: 32rem !important;
}

.mt-32 {
  margin-top: 32rem !important;
}

.mb-32 {
  margin-bottom: 32rem !important;
}

.pl-32 {
  padding-left: 32rem !important;
}

.pr-32 {
  padding-right: 32rem !important;
}

.pt-32 {
  padding-top: 32rem !important;
}

.pb-32 {
  padding-bottom: 32rem !important;
}

.ml-33 {
  margin-left: 33rem !important;
}

.mr-33 {
  margin-right: 33rem !important;
}

.mt-33 {
  margin-top: 33rem !important;
}

.mb-33 {
  margin-bottom: 33rem !important;
}

.pl-33 {
  padding-left: 33rem !important;
}

.pr-33 {
  padding-right: 33rem !important;
}

.pt-33 {
  padding-top: 33rem !important;
}

.pb-33 {
  padding-bottom: 33rem !important;
}

.ml-34 {
  margin-left: 34rem !important;
}

.mr-34 {
  margin-right: 34rem !important;
}

.mt-34 {
  margin-top: 34rem !important;
}

.mb-34 {
  margin-bottom: 34rem !important;
}

.pl-34 {
  padding-left: 34rem !important;
}

.pr-34 {
  padding-right: 34rem !important;
}

.pt-34 {
  padding-top: 34rem !important;
}

.pb-34 {
  padding-bottom: 34rem !important;
}

.ml-35 {
  margin-left: 35rem !important;
}

.mr-35 {
  margin-right: 35rem !important;
}

.mt-35 {
  margin-top: 35rem !important;
}

.mb-35 {
  margin-bottom: 35rem !important;
}

.pl-35 {
  padding-left: 35rem !important;
}

.pr-35 {
  padding-right: 35rem !important;
}

.pt-35 {
  padding-top: 35rem !important;
}

.pb-35 {
  padding-bottom: 35rem !important;
}

.ml-36 {
  margin-left: 36rem !important;
}

.mr-36 {
  margin-right: 36rem !important;
}

.mt-36 {
  margin-top: 36rem !important;
}

.mb-36 {
  margin-bottom: 36rem !important;
}

.pl-36 {
  padding-left: 36rem !important;
}

.pr-36 {
  padding-right: 36rem !important;
}

.pt-36 {
  padding-top: 36rem !important;
}

.pb-36 {
  padding-bottom: 36rem !important;
}

.ml-37 {
  margin-left: 37rem !important;
}

.mr-37 {
  margin-right: 37rem !important;
}

.mt-37 {
  margin-top: 37rem !important;
}

.mb-37 {
  margin-bottom: 37rem !important;
}

.pl-37 {
  padding-left: 37rem !important;
}

.pr-37 {
  padding-right: 37rem !important;
}

.pt-37 {
  padding-top: 37rem !important;
}

.pb-37 {
  padding-bottom: 37rem !important;
}

.ml-38 {
  margin-left: 38rem !important;
}

.mr-38 {
  margin-right: 38rem !important;
}

.mt-38 {
  margin-top: 38rem !important;
}

.mb-38 {
  margin-bottom: 38rem !important;
}

.pl-38 {
  padding-left: 38rem !important;
}

.pr-38 {
  padding-right: 38rem !important;
}

.pt-38 {
  padding-top: 38rem !important;
}

.pb-38 {
  padding-bottom: 38rem !important;
}

.ml-39 {
  margin-left: 39rem !important;
}

.mr-39 {
  margin-right: 39rem !important;
}

.mt-39 {
  margin-top: 39rem !important;
}

.mb-39 {
  margin-bottom: 39rem !important;
}

.pl-39 {
  padding-left: 39rem !important;
}

.pr-39 {
  padding-right: 39rem !important;
}

.pt-39 {
  padding-top: 39rem !important;
}

.pb-39 {
  padding-bottom: 39rem !important;
}

.ml-40 {
  margin-left: 40rem !important;
}

.mr-40 {
  margin-right: 40rem !important;
}

.mt-40 {
  margin-top: 40rem !important;
}

.mb-40 {
  margin-bottom: 40rem !important;
}

.pl-40 {
  padding-left: 40rem !important;
}

.pr-40 {
  padding-right: 40rem !important;
}

.pt-40 {
  padding-top: 40rem !important;
}

.pb-40 {
  padding-bottom: 40rem !important;
}

.ml-41 {
  margin-left: 41rem !important;
}

.mr-41 {
  margin-right: 41rem !important;
}

.mt-41 {
  margin-top: 41rem !important;
}

.mb-41 {
  margin-bottom: 41rem !important;
}

.pl-41 {
  padding-left: 41rem !important;
}

.pr-41 {
  padding-right: 41rem !important;
}

.pt-41 {
  padding-top: 41rem !important;
}

.pb-41 {
  padding-bottom: 41rem !important;
}

.ml-42 {
  margin-left: 42rem !important;
}

.mr-42 {
  margin-right: 42rem !important;
}

.mt-42 {
  margin-top: 42rem !important;
}

.mb-42 {
  margin-bottom: 42rem !important;
}

.pl-42 {
  padding-left: 42rem !important;
}

.pr-42 {
  padding-right: 42rem !important;
}

.pt-42 {
  padding-top: 42rem !important;
}

.pb-42 {
  padding-bottom: 42rem !important;
}

.ml-43 {
  margin-left: 43rem !important;
}

.mr-43 {
  margin-right: 43rem !important;
}

.mt-43 {
  margin-top: 43rem !important;
}

.mb-43 {
  margin-bottom: 43rem !important;
}

.pl-43 {
  padding-left: 43rem !important;
}

.pr-43 {
  padding-right: 43rem !important;
}

.pt-43 {
  padding-top: 43rem !important;
}

.pb-43 {
  padding-bottom: 43rem !important;
}

.ml-44 {
  margin-left: 44rem !important;
}

.mr-44 {
  margin-right: 44rem !important;
}

.mt-44 {
  margin-top: 44rem !important;
}

.mb-44 {
  margin-bottom: 44rem !important;
}

.pl-44 {
  padding-left: 44rem !important;
}

.pr-44 {
  padding-right: 44rem !important;
}

.pt-44 {
  padding-top: 44rem !important;
}

.pb-44 {
  padding-bottom: 44rem !important;
}

.ml-45 {
  margin-left: 45rem !important;
}

.mr-45 {
  margin-right: 45rem !important;
}

.mt-45 {
  margin-top: 45rem !important;
}

.mb-45 {
  margin-bottom: 45rem !important;
}

.pl-45 {
  padding-left: 45rem !important;
}

.pr-45 {
  padding-right: 45rem !important;
}

.pt-45 {
  padding-top: 45rem !important;
}

.pb-45 {
  padding-bottom: 45rem !important;
}

.ml-46 {
  margin-left: 46rem !important;
}

.mr-46 {
  margin-right: 46rem !important;
}

.mt-46 {
  margin-top: 46rem !important;
}

.mb-46 {
  margin-bottom: 46rem !important;
}

.pl-46 {
  padding-left: 46rem !important;
}

.pr-46 {
  padding-right: 46rem !important;
}

.pt-46 {
  padding-top: 46rem !important;
}

.pb-46 {
  padding-bottom: 46rem !important;
}

.ml-47 {
  margin-left: 47rem !important;
}

.mr-47 {
  margin-right: 47rem !important;
}

.mt-47 {
  margin-top: 47rem !important;
}

.mb-47 {
  margin-bottom: 47rem !important;
}

.pl-47 {
  padding-left: 47rem !important;
}

.pr-47 {
  padding-right: 47rem !important;
}

.pt-47 {
  padding-top: 47rem !important;
}

.pb-47 {
  padding-bottom: 47rem !important;
}

.ml-48 {
  margin-left: 48rem !important;
}

.mr-48 {
  margin-right: 48rem !important;
}

.mt-48 {
  margin-top: 48rem !important;
}

.mb-48 {
  margin-bottom: 48rem !important;
}

.pl-48 {
  padding-left: 48rem !important;
}

.pr-48 {
  padding-right: 48rem !important;
}

.pt-48 {
  padding-top: 48rem !important;
}

.pb-48 {
  padding-bottom: 48rem !important;
}

.ml-49 {
  margin-left: 49rem !important;
}

.mr-49 {
  margin-right: 49rem !important;
}

.mt-49 {
  margin-top: 49rem !important;
}

.mb-49 {
  margin-bottom: 49rem !important;
}

.pl-49 {
  padding-left: 49rem !important;
}

.pr-49 {
  padding-right: 49rem !important;
}

.pt-49 {
  padding-top: 49rem !important;
}

.pb-49 {
  padding-bottom: 49rem !important;
}

.ml-50 {
  margin-left: 50rem !important;
}

.mr-50 {
  margin-right: 50rem !important;
}

.mt-50 {
  margin-top: 50rem !important;
}

.mb-50 {
  margin-bottom: 50rem !important;
}

.pl-50 {
  padding-left: 50rem !important;
}

.pr-50 {
  padding-right: 50rem !important;
}

.pt-50 {
  padding-top: 50rem !important;
}

.pb-50 {
  padding-bottom: 50rem !important;
}

.ml-51 {
  margin-left: 51rem !important;
}

.mr-51 {
  margin-right: 51rem !important;
}

.mt-51 {
  margin-top: 51rem !important;
}

.mb-51 {
  margin-bottom: 51rem !important;
}

.pl-51 {
  padding-left: 51rem !important;
}

.pr-51 {
  padding-right: 51rem !important;
}

.pt-51 {
  padding-top: 51rem !important;
}

.pb-51 {
  padding-bottom: 51rem !important;
}

.ml-52 {
  margin-left: 52rem !important;
}

.mr-52 {
  margin-right: 52rem !important;
}

.mt-52 {
  margin-top: 52rem !important;
}

.mb-52 {
  margin-bottom: 52rem !important;
}

.pl-52 {
  padding-left: 52rem !important;
}

.pr-52 {
  padding-right: 52rem !important;
}

.pt-52 {
  padding-top: 52rem !important;
}

.pb-52 {
  padding-bottom: 52rem !important;
}

.ml-53 {
  margin-left: 53rem !important;
}

.mr-53 {
  margin-right: 53rem !important;
}

.mt-53 {
  margin-top: 53rem !important;
}

.mb-53 {
  margin-bottom: 53rem !important;
}

.pl-53 {
  padding-left: 53rem !important;
}

.pr-53 {
  padding-right: 53rem !important;
}

.pt-53 {
  padding-top: 53rem !important;
}

.pb-53 {
  padding-bottom: 53rem !important;
}

.ml-54 {
  margin-left: 54rem !important;
}

.mr-54 {
  margin-right: 54rem !important;
}

.mt-54 {
  margin-top: 54rem !important;
}

.mb-54 {
  margin-bottom: 54rem !important;
}

.pl-54 {
  padding-left: 54rem !important;
}

.pr-54 {
  padding-right: 54rem !important;
}

.pt-54 {
  padding-top: 54rem !important;
}

.pb-54 {
  padding-bottom: 54rem !important;
}

.ml-55 {
  margin-left: 55rem !important;
}

.mr-55 {
  margin-right: 55rem !important;
}

.mt-55 {
  margin-top: 55rem !important;
}

.mb-55 {
  margin-bottom: 55rem !important;
}

.pl-55 {
  padding-left: 55rem !important;
}

.pr-55 {
  padding-right: 55rem !important;
}

.pt-55 {
  padding-top: 55rem !important;
}

.pb-55 {
  padding-bottom: 55rem !important;
}

.ml-56 {
  margin-left: 56rem !important;
}

.mr-56 {
  margin-right: 56rem !important;
}

.mt-56 {
  margin-top: 56rem !important;
}

.mb-56 {
  margin-bottom: 56rem !important;
}

.pl-56 {
  padding-left: 56rem !important;
}

.pr-56 {
  padding-right: 56rem !important;
}

.pt-56 {
  padding-top: 56rem !important;
}

.pb-56 {
  padding-bottom: 56rem !important;
}

.ml-57 {
  margin-left: 57rem !important;
}

.mr-57 {
  margin-right: 57rem !important;
}

.mt-57 {
  margin-top: 57rem !important;
}

.mb-57 {
  margin-bottom: 57rem !important;
}

.pl-57 {
  padding-left: 57rem !important;
}

.pr-57 {
  padding-right: 57rem !important;
}

.pt-57 {
  padding-top: 57rem !important;
}

.pb-57 {
  padding-bottom: 57rem !important;
}

.ml-58 {
  margin-left: 58rem !important;
}

.mr-58 {
  margin-right: 58rem !important;
}

.mt-58 {
  margin-top: 58rem !important;
}

.mb-58 {
  margin-bottom: 58rem !important;
}

.pl-58 {
  padding-left: 58rem !important;
}

.pr-58 {
  padding-right: 58rem !important;
}

.pt-58 {
  padding-top: 58rem !important;
}

.pb-58 {
  padding-bottom: 58rem !important;
}

.ml-59 {
  margin-left: 59rem !important;
}

.mr-59 {
  margin-right: 59rem !important;
}

.mt-59 {
  margin-top: 59rem !important;
}

.mb-59 {
  margin-bottom: 59rem !important;
}

.pl-59 {
  padding-left: 59rem !important;
}

.pr-59 {
  padding-right: 59rem !important;
}

.pt-59 {
  padding-top: 59rem !important;
}

.pb-59 {
  padding-bottom: 59rem !important;
}

.ml-60 {
  margin-left: 60rem !important;
}

.mr-60 {
  margin-right: 60rem !important;
}

.mt-60 {
  margin-top: 60rem !important;
}

.mb-60 {
  margin-bottom: 60rem !important;
}

.pl-60 {
  padding-left: 60rem !important;
}

.pr-60 {
  padding-right: 60rem !important;
}

.pt-60 {
  padding-top: 60rem !important;
}

.pb-60 {
  padding-bottom: 60rem !important;
}

.ml-61 {
  margin-left: 61rem !important;
}

.mr-61 {
  margin-right: 61rem !important;
}

.mt-61 {
  margin-top: 61rem !important;
}

.mb-61 {
  margin-bottom: 61rem !important;
}

.pl-61 {
  padding-left: 61rem !important;
}

.pr-61 {
  padding-right: 61rem !important;
}

.pt-61 {
  padding-top: 61rem !important;
}

.pb-61 {
  padding-bottom: 61rem !important;
}

.ml-62 {
  margin-left: 62rem !important;
}

.mr-62 {
  margin-right: 62rem !important;
}

.mt-62 {
  margin-top: 62rem !important;
}

.mb-62 {
  margin-bottom: 62rem !important;
}

.pl-62 {
  padding-left: 62rem !important;
}

.pr-62 {
  padding-right: 62rem !important;
}

.pt-62 {
  padding-top: 62rem !important;
}

.pb-62 {
  padding-bottom: 62rem !important;
}

.ml-63 {
  margin-left: 63rem !important;
}

.mr-63 {
  margin-right: 63rem !important;
}

.mt-63 {
  margin-top: 63rem !important;
}

.mb-63 {
  margin-bottom: 63rem !important;
}

.pl-63 {
  padding-left: 63rem !important;
}

.pr-63 {
  padding-right: 63rem !important;
}

.pt-63 {
  padding-top: 63rem !important;
}

.pb-63 {
  padding-bottom: 63rem !important;
}

.ml-64 {
  margin-left: 64rem !important;
}

.mr-64 {
  margin-right: 64rem !important;
}

.mt-64 {
  margin-top: 64rem !important;
}

.mb-64 {
  margin-bottom: 64rem !important;
}

.pl-64 {
  padding-left: 64rem !important;
}

.pr-64 {
  padding-right: 64rem !important;
}

.pt-64 {
  padding-top: 64rem !important;
}

.pb-64 {
  padding-bottom: 64rem !important;
}

.ml-65 {
  margin-left: 65rem !important;
}

.mr-65 {
  margin-right: 65rem !important;
}

.mt-65 {
  margin-top: 65rem !important;
}

.mb-65 {
  margin-bottom: 65rem !important;
}

.pl-65 {
  padding-left: 65rem !important;
}

.pr-65 {
  padding-right: 65rem !important;
}

.pt-65 {
  padding-top: 65rem !important;
}

.pb-65 {
  padding-bottom: 65rem !important;
}

.ml-66 {
  margin-left: 66rem !important;
}

.mr-66 {
  margin-right: 66rem !important;
}

.mt-66 {
  margin-top: 66rem !important;
}

.mb-66 {
  margin-bottom: 66rem !important;
}

.pl-66 {
  padding-left: 66rem !important;
}

.pr-66 {
  padding-right: 66rem !important;
}

.pt-66 {
  padding-top: 66rem !important;
}

.pb-66 {
  padding-bottom: 66rem !important;
}

.ml-67 {
  margin-left: 67rem !important;
}

.mr-67 {
  margin-right: 67rem !important;
}

.mt-67 {
  margin-top: 67rem !important;
}

.mb-67 {
  margin-bottom: 67rem !important;
}

.pl-67 {
  padding-left: 67rem !important;
}

.pr-67 {
  padding-right: 67rem !important;
}

.pt-67 {
  padding-top: 67rem !important;
}

.pb-67 {
  padding-bottom: 67rem !important;
}

.ml-68 {
  margin-left: 68rem !important;
}

.mr-68 {
  margin-right: 68rem !important;
}

.mt-68 {
  margin-top: 68rem !important;
}

.mb-68 {
  margin-bottom: 68rem !important;
}

.pl-68 {
  padding-left: 68rem !important;
}

.pr-68 {
  padding-right: 68rem !important;
}

.pt-68 {
  padding-top: 68rem !important;
}

.pb-68 {
  padding-bottom: 68rem !important;
}

.ml-69 {
  margin-left: 69rem !important;
}

.mr-69 {
  margin-right: 69rem !important;
}

.mt-69 {
  margin-top: 69rem !important;
}

.mb-69 {
  margin-bottom: 69rem !important;
}

.pl-69 {
  padding-left: 69rem !important;
}

.pr-69 {
  padding-right: 69rem !important;
}

.pt-69 {
  padding-top: 69rem !important;
}

.pb-69 {
  padding-bottom: 69rem !important;
}

.ml-70 {
  margin-left: 70rem !important;
}

.mr-70 {
  margin-right: 70rem !important;
}

.mt-70 {
  margin-top: 70rem !important;
}

.mb-70 {
  margin-bottom: 70rem !important;
}

.pl-70 {
  padding-left: 70rem !important;
}

.pr-70 {
  padding-right: 70rem !important;
}

.pt-70 {
  padding-top: 70rem !important;
}

.pb-70 {
  padding-bottom: 70rem !important;
}

.ml-71 {
  margin-left: 71rem !important;
}

.mr-71 {
  margin-right: 71rem !important;
}

.mt-71 {
  margin-top: 71rem !important;
}

.mb-71 {
  margin-bottom: 71rem !important;
}

.pl-71 {
  padding-left: 71rem !important;
}

.pr-71 {
  padding-right: 71rem !important;
}

.pt-71 {
  padding-top: 71rem !important;
}

.pb-71 {
  padding-bottom: 71rem !important;
}

.ml-72 {
  margin-left: 72rem !important;
}

.mr-72 {
  margin-right: 72rem !important;
}

.mt-72 {
  margin-top: 72rem !important;
}

.mb-72 {
  margin-bottom: 72rem !important;
}

.pl-72 {
  padding-left: 72rem !important;
}

.pr-72 {
  padding-right: 72rem !important;
}

.pt-72 {
  padding-top: 72rem !important;
}

.pb-72 {
  padding-bottom: 72rem !important;
}

.ml-73 {
  margin-left: 73rem !important;
}

.mr-73 {
  margin-right: 73rem !important;
}

.mt-73 {
  margin-top: 73rem !important;
}

.mb-73 {
  margin-bottom: 73rem !important;
}

.pl-73 {
  padding-left: 73rem !important;
}

.pr-73 {
  padding-right: 73rem !important;
}

.pt-73 {
  padding-top: 73rem !important;
}

.pb-73 {
  padding-bottom: 73rem !important;
}

.ml-74 {
  margin-left: 74rem !important;
}

.mr-74 {
  margin-right: 74rem !important;
}

.mt-74 {
  margin-top: 74rem !important;
}

.mb-74 {
  margin-bottom: 74rem !important;
}

.pl-74 {
  padding-left: 74rem !important;
}

.pr-74 {
  padding-right: 74rem !important;
}

.pt-74 {
  padding-top: 74rem !important;
}

.pb-74 {
  padding-bottom: 74rem !important;
}

.ml-75 {
  margin-left: 75rem !important;
}

.mr-75 {
  margin-right: 75rem !important;
}

.mt-75 {
  margin-top: 75rem !important;
}

.mb-75 {
  margin-bottom: 75rem !important;
}

.pl-75 {
  padding-left: 75rem !important;
}

.pr-75 {
  padding-right: 75rem !important;
}

.pt-75 {
  padding-top: 75rem !important;
}

.pb-75 {
  padding-bottom: 75rem !important;
}

.ml-76 {
  margin-left: 76rem !important;
}

.mr-76 {
  margin-right: 76rem !important;
}

.mt-76 {
  margin-top: 76rem !important;
}

.mb-76 {
  margin-bottom: 76rem !important;
}

.pl-76 {
  padding-left: 76rem !important;
}

.pr-76 {
  padding-right: 76rem !important;
}

.pt-76 {
  padding-top: 76rem !important;
}

.pb-76 {
  padding-bottom: 76rem !important;
}

.ml-77 {
  margin-left: 77rem !important;
}

.mr-77 {
  margin-right: 77rem !important;
}

.mt-77 {
  margin-top: 77rem !important;
}

.mb-77 {
  margin-bottom: 77rem !important;
}

.pl-77 {
  padding-left: 77rem !important;
}

.pr-77 {
  padding-right: 77rem !important;
}

.pt-77 {
  padding-top: 77rem !important;
}

.pb-77 {
  padding-bottom: 77rem !important;
}

.ml-78 {
  margin-left: 78rem !important;
}

.mr-78 {
  margin-right: 78rem !important;
}

.mt-78 {
  margin-top: 78rem !important;
}

.mb-78 {
  margin-bottom: 78rem !important;
}

.pl-78 {
  padding-left: 78rem !important;
}

.pr-78 {
  padding-right: 78rem !important;
}

.pt-78 {
  padding-top: 78rem !important;
}

.pb-78 {
  padding-bottom: 78rem !important;
}

.ml-79 {
  margin-left: 79rem !important;
}

.mr-79 {
  margin-right: 79rem !important;
}

.mt-79 {
  margin-top: 79rem !important;
}

.mb-79 {
  margin-bottom: 79rem !important;
}

.pl-79 {
  padding-left: 79rem !important;
}

.pr-79 {
  padding-right: 79rem !important;
}

.pt-79 {
  padding-top: 79rem !important;
}

.pb-79 {
  padding-bottom: 79rem !important;
}

.ml-80 {
  margin-left: 80rem !important;
}

.mr-80 {
  margin-right: 80rem !important;
}

.mt-80 {
  margin-top: 80rem !important;
}

.mb-80 {
  margin-bottom: 80rem !important;
}

.pl-80 {
  padding-left: 80rem !important;
}

.pr-80 {
  padding-right: 80rem !important;
}

.pt-80 {
  padding-top: 80rem !important;
}

.pb-80 {
  padding-bottom: 80rem !important;
}

.ml-81 {
  margin-left: 81rem !important;
}

.mr-81 {
  margin-right: 81rem !important;
}

.mt-81 {
  margin-top: 81rem !important;
}

.mb-81 {
  margin-bottom: 81rem !important;
}

.pl-81 {
  padding-left: 81rem !important;
}

.pr-81 {
  padding-right: 81rem !important;
}

.pt-81 {
  padding-top: 81rem !important;
}

.pb-81 {
  padding-bottom: 81rem !important;
}

.ml-82 {
  margin-left: 82rem !important;
}

.mr-82 {
  margin-right: 82rem !important;
}

.mt-82 {
  margin-top: 82rem !important;
}

.mb-82 {
  margin-bottom: 82rem !important;
}

.pl-82 {
  padding-left: 82rem !important;
}

.pr-82 {
  padding-right: 82rem !important;
}

.pt-82 {
  padding-top: 82rem !important;
}

.pb-82 {
  padding-bottom: 82rem !important;
}

.ml-83 {
  margin-left: 83rem !important;
}

.mr-83 {
  margin-right: 83rem !important;
}

.mt-83 {
  margin-top: 83rem !important;
}

.mb-83 {
  margin-bottom: 83rem !important;
}

.pl-83 {
  padding-left: 83rem !important;
}

.pr-83 {
  padding-right: 83rem !important;
}

.pt-83 {
  padding-top: 83rem !important;
}

.pb-83 {
  padding-bottom: 83rem !important;
}

.ml-84 {
  margin-left: 84rem !important;
}

.mr-84 {
  margin-right: 84rem !important;
}

.mt-84 {
  margin-top: 84rem !important;
}

.mb-84 {
  margin-bottom: 84rem !important;
}

.pl-84 {
  padding-left: 84rem !important;
}

.pr-84 {
  padding-right: 84rem !important;
}

.pt-84 {
  padding-top: 84rem !important;
}

.pb-84 {
  padding-bottom: 84rem !important;
}

.ml-85 {
  margin-left: 85rem !important;
}

.mr-85 {
  margin-right: 85rem !important;
}

.mt-85 {
  margin-top: 85rem !important;
}

.mb-85 {
  margin-bottom: 85rem !important;
}

.pl-85 {
  padding-left: 85rem !important;
}

.pr-85 {
  padding-right: 85rem !important;
}

.pt-85 {
  padding-top: 85rem !important;
}

.pb-85 {
  padding-bottom: 85rem !important;
}

.ml-86 {
  margin-left: 86rem !important;
}

.mr-86 {
  margin-right: 86rem !important;
}

.mt-86 {
  margin-top: 86rem !important;
}

.mb-86 {
  margin-bottom: 86rem !important;
}

.pl-86 {
  padding-left: 86rem !important;
}

.pr-86 {
  padding-right: 86rem !important;
}

.pt-86 {
  padding-top: 86rem !important;
}

.pb-86 {
  padding-bottom: 86rem !important;
}

.ml-87 {
  margin-left: 87rem !important;
}

.mr-87 {
  margin-right: 87rem !important;
}

.mt-87 {
  margin-top: 87rem !important;
}

.mb-87 {
  margin-bottom: 87rem !important;
}

.pl-87 {
  padding-left: 87rem !important;
}

.pr-87 {
  padding-right: 87rem !important;
}

.pt-87 {
  padding-top: 87rem !important;
}

.pb-87 {
  padding-bottom: 87rem !important;
}

.ml-88 {
  margin-left: 88rem !important;
}

.mr-88 {
  margin-right: 88rem !important;
}

.mt-88 {
  margin-top: 88rem !important;
}

.mb-88 {
  margin-bottom: 88rem !important;
}

.pl-88 {
  padding-left: 88rem !important;
}

.pr-88 {
  padding-right: 88rem !important;
}

.pt-88 {
  padding-top: 88rem !important;
}

.pb-88 {
  padding-bottom: 88rem !important;
}

.ml-89 {
  margin-left: 89rem !important;
}

.mr-89 {
  margin-right: 89rem !important;
}

.mt-89 {
  margin-top: 89rem !important;
}

.mb-89 {
  margin-bottom: 89rem !important;
}

.pl-89 {
  padding-left: 89rem !important;
}

.pr-89 {
  padding-right: 89rem !important;
}

.pt-89 {
  padding-top: 89rem !important;
}

.pb-89 {
  padding-bottom: 89rem !important;
}

.ml-90 {
  margin-left: 90rem !important;
}

.mr-90 {
  margin-right: 90rem !important;
}

.mt-90 {
  margin-top: 90rem !important;
}

.mb-90 {
  margin-bottom: 90rem !important;
}

.pl-90 {
  padding-left: 90rem !important;
}

.pr-90 {
  padding-right: 90rem !important;
}

.pt-90 {
  padding-top: 90rem !important;
}

.pb-90 {
  padding-bottom: 90rem !important;
}

.ml-91 {
  margin-left: 91rem !important;
}

.mr-91 {
  margin-right: 91rem !important;
}

.mt-91 {
  margin-top: 91rem !important;
}

.mb-91 {
  margin-bottom: 91rem !important;
}

.pl-91 {
  padding-left: 91rem !important;
}

.pr-91 {
  padding-right: 91rem !important;
}

.pt-91 {
  padding-top: 91rem !important;
}

.pb-91 {
  padding-bottom: 91rem !important;
}

.ml-92 {
  margin-left: 92rem !important;
}

.mr-92 {
  margin-right: 92rem !important;
}

.mt-92 {
  margin-top: 92rem !important;
}

.mb-92 {
  margin-bottom: 92rem !important;
}

.pl-92 {
  padding-left: 92rem !important;
}

.pr-92 {
  padding-right: 92rem !important;
}

.pt-92 {
  padding-top: 92rem !important;
}

.pb-92 {
  padding-bottom: 92rem !important;
}

.ml-93 {
  margin-left: 93rem !important;
}

.mr-93 {
  margin-right: 93rem !important;
}

.mt-93 {
  margin-top: 93rem !important;
}

.mb-93 {
  margin-bottom: 93rem !important;
}

.pl-93 {
  padding-left: 93rem !important;
}

.pr-93 {
  padding-right: 93rem !important;
}

.pt-93 {
  padding-top: 93rem !important;
}

.pb-93 {
  padding-bottom: 93rem !important;
}

.ml-94 {
  margin-left: 94rem !important;
}

.mr-94 {
  margin-right: 94rem !important;
}

.mt-94 {
  margin-top: 94rem !important;
}

.mb-94 {
  margin-bottom: 94rem !important;
}

.pl-94 {
  padding-left: 94rem !important;
}

.pr-94 {
  padding-right: 94rem !important;
}

.pt-94 {
  padding-top: 94rem !important;
}

.pb-94 {
  padding-bottom: 94rem !important;
}

.ml-95 {
  margin-left: 95rem !important;
}

.mr-95 {
  margin-right: 95rem !important;
}

.mt-95 {
  margin-top: 95rem !important;
}

.mb-95 {
  margin-bottom: 95rem !important;
}

.pl-95 {
  padding-left: 95rem !important;
}

.pr-95 {
  padding-right: 95rem !important;
}

.pt-95 {
  padding-top: 95rem !important;
}

.pb-95 {
  padding-bottom: 95rem !important;
}

.ml-96 {
  margin-left: 96rem !important;
}

.mr-96 {
  margin-right: 96rem !important;
}

.mt-96 {
  margin-top: 96rem !important;
}

.mb-96 {
  margin-bottom: 96rem !important;
}

.pl-96 {
  padding-left: 96rem !important;
}

.pr-96 {
  padding-right: 96rem !important;
}

.pt-96 {
  padding-top: 96rem !important;
}

.pb-96 {
  padding-bottom: 96rem !important;
}

.ml-97 {
  margin-left: 97rem !important;
}

.mr-97 {
  margin-right: 97rem !important;
}

.mt-97 {
  margin-top: 97rem !important;
}

.mb-97 {
  margin-bottom: 97rem !important;
}

.pl-97 {
  padding-left: 97rem !important;
}

.pr-97 {
  padding-right: 97rem !important;
}

.pt-97 {
  padding-top: 97rem !important;
}

.pb-97 {
  padding-bottom: 97rem !important;
}

.ml-98 {
  margin-left: 98rem !important;
}

.mr-98 {
  margin-right: 98rem !important;
}

.mt-98 {
  margin-top: 98rem !important;
}

.mb-98 {
  margin-bottom: 98rem !important;
}

.pl-98 {
  padding-left: 98rem !important;
}

.pr-98 {
  padding-right: 98rem !important;
}

.pt-98 {
  padding-top: 98rem !important;
}

.pb-98 {
  padding-bottom: 98rem !important;
}

.ml-99 {
  margin-left: 99rem !important;
}

.mr-99 {
  margin-right: 99rem !important;
}

.mt-99 {
  margin-top: 99rem !important;
}

.mb-99 {
  margin-bottom: 99rem !important;
}

.pl-99 {
  padding-left: 99rem !important;
}

.pr-99 {
  padding-right: 99rem !important;
}

.pt-99 {
  padding-top: 99rem !important;
}

.pb-99 {
  padding-bottom: 99rem !important;
}

.ml-100 {
  margin-left: 100rem !important;
}

.mr-100 {
  margin-right: 100rem !important;
}

.mt-100 {
  margin-top: 100rem !important;
}

.mb-100 {
  margin-bottom: 100rem !important;
}

.pl-100 {
  padding-left: 100rem !important;
}

.pr-100 {
  padding-right: 100rem !important;
}

.pt-100 {
  padding-top: 100rem !important;
}

.pb-100 {
  padding-bottom: 100rem !important;
}

/*# sourceMappingURL=styles.css.map */
